<body>
        <%= stylesheet_link_tag "application", media: "all" %>    
    <div class="index">
        <h1> P I C T U R E S Q U E</h1>
            <h4>
                <p> 
                    Be inspired.
                </p>
            </h4>
    </div>

        <div class="community-posts">
            <div class="row">
                    <p>Featured Posts</p>
                <% @posts.limit(7).each do |post| %>
                    <%= image_tag post.photo.url, :size => "200x200", class: 'img-responsive post-img' %>
                <% end %>
            </div>
        </div>
</body>