<center>
    <div class="container">
        <div class="row">
            <h3> New Posts! </h3>
            <% @posts.limit(3).each do |post| %>
                <div><strong><%= link_to "#{ post.user.username }", "/profile/#{post.user.username}" %></strong>
                    <div class="col-2">
                        <%= image_tag post.photo.url, :size => "200x200", class: 'img-responsive post-img' %>
                        <div class="row">
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</center>