<div class="container">    
    <div class="row">
        <h2> Suggested Users:

        </h2>
    </div>
</div>

<div class="container">    
    <div class="row">
        <h2> Check out their profile!

        </h2>
    </div>
</div>

