.profile-photo {
    background-color: black;
    margin-bottom: 20px;
    padding: 18px;
    border: 1px solid black;
}

.profile-info {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 50px;
}

.index {
    background-color: white;
    margin-bottom: 50px;
    margin-top: 20px;
}

.community-posts {
    background-color: white;
}

.profile-posts {
    border: 1px solid  #e6e6e6;
    height: 150px;
    width: 100%;
}