@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$roboto: 'Roboto', sans-serif;

.profile-photo {
    margin-bottom: 20px;
    padding: 18px;
    font-family: $roboto;
    border: 2px solid black;
}

.profile-info {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: $roboto;
}

.index {
    background-color: white;
    margin-bottom: 50px;
    margin-top: 20px;
    font-family: $roboto;
    border: 1px solid whitesmoke;;
}

.community-posts {
    font-family: $roboto;
    background-color: white;
}

.gallery {
    padding: 15px;
    width: 100%;
}

.gallery:responsive {
    border: 1px solid black;
}